In [ ]:
import numpy as np

x = np.array([[1,2,3], [4,5,6]])
x

In [ ]:
from scipy import sparse

eye = np.eye(4)
print("Numpy array: \n%s" % eye)

sparse_matrix = sparse.csr_matrix(eye)
print("\nScipy sparse CSR matrix:\n%s" % sparse_matrix)

In [15]:
import matplotlib.pyplot as plt
x = np.arange(20)
y = np.sin(x)
plt.plot(x, y, marker="x")
plt.show()

In [14]:
import pandas as pd
data = {'Name': ["John", "Anna", "Peter", "Linda"],
        'location': ["New York", "Paris", "Berlin", "London"],
        'Age': [24, 13, 53, 33]
       }
data_pandas = pd.DataFrame(data)
data_pandas

   Age   Name  location
0   24   John  New York
1   13   Anna     Paris
2   53  Peter    Berlin
3   33  Linda    London

In [1]:
import sklearn
print("scikit-learn version: %s" % sklearn.__version__)

scikit-learn version: 0.18.dev0